<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password Reset Email Sent</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f4f4f4;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
        }
        
        .alert {
            background-color: #17a2b8;
            color: #fff;
            padding: 15px;
            border-radius: 5px;
            text-align: center;
        }
    </style>
</head>
{% include 'video_background.html' %}
<body>
    <div class="content-section">
        <div class="alert">
            An email has been sent with instructions to reset your password
        </div>
    </div>
</body>
</html>
